body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.section-header {
  background-color: #fff;
}

.section-header nav {
  border-bottom: 1px solid #eeeeee;
}

.section-header nav .container {
  width: 90%;
}

.section-header #navbar-utama {
  padding: 20px 20px;
}

.section-header #navbar-utama .form-inline {
  width: 460px;
}

.section-header #navbar-utama .form-inline input {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 100%;
  padding: 20px 20px;
}

.section-header #navbar-second {
  position: relative;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.15);
}

.section-header #navbar-second .navbar-nav .nav-item {
  padding: 7px 7px;
}

.section-header #navbar-second .navbar-nav a {
  font-weight: 700;
  color: #413F3F;
  font-size: 15px;
}

.section-header #navbar-second .navbar-nav .badge-purple {
  background-color: #7014A9;
  color: #fff;
  margin-left: 5px;
}

.section-header #navbar-second .navbar-nav img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.section-header #navbar-second .navbar-nav .dropdown .nav-link {
  color: #F05A86;
}

.section-header img {
  width: 182px;
  height: 39px;
}

.section-header .btn-login {
  color: #CD7BFF;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(112, 20, 169, 0.15);
}

.section-header .btn-buat-tiket {
  background-color: #7014A9;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 0;
  position: absolute;
  left: 78%;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-gallery-info {
  padding-top: 215px;
  margin-top: -50px;
}

.section-gallery-info .gallery-base {
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.section-gallery-info .table-jadwal,
.section-gallery-info .table-informasi {
  border-left: 1px solid #EEEEEE;
  margin-bottom: 0;
}

.section-gallery-info .table-jadwal th,
.section-gallery-info .table-jadwal td,
.section-gallery-info .table-informasi th,
.section-gallery-info .table-informasi td {
  padding: 5px 10px 5px 28px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
}

.section-gallery-info .table-jadwal h6,
.section-gallery-info .table-informasi h6 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.section-gallery-info .table-jadwal .active,
.section-gallery-info .table-informasi .active {
  background-color: #EADCF2;
}

.section-gallery-info .table-jadwal .badge-purple,
.section-gallery-info .table-jadwal .badge-purple-2,
.section-gallery-info .table-informasi .badge-purple,
.section-gallery-info .table-informasi .badge-purple-2 {
  background-color: #7014A9;
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
}

.section-gallery-info .table-jadwal .badge-purple-2,
.section-gallery-info .table-informasi .badge-purple-2 {
  background: #EA24BE;
}

.section-gallery-info .section-alert .alert-ungu {
  background-color: #EADCF2;
  color: #000;
  padding: 25px 20px 20px 20px;
}

.section-gallery-info .section-alert i {
  color: #52449B;
  padding-right: 5px;
}

.section-info-tiket {
  padding-top: 67px;
  margin-top: -50px;
}

.section-info-tiket .card-wisata {
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 19px 48px 16px 37px;
}

.section-info-tiket .card-wisata .section-wisata .header-wisata,
.section-info-tiket .card-wisata .section-wisata .header-about,
.section-info-tiket .card-wisata .section-wisata .header-tiket,
.section-info-tiket .card-wisata .section-wisata .header-peta,
.section-info-tiket .card-wisata .section-about .header-wisata,
.section-info-tiket .card-wisata .section-about .header-about,
.section-info-tiket .card-wisata .section-about .header-tiket,
.section-info-tiket .card-wisata .section-about .header-peta,
.section-info-tiket .card-wisata .section-tiket-wisata .header-wisata,
.section-info-tiket .card-wisata .section-tiket-wisata .header-about,
.section-info-tiket .card-wisata .section-tiket-wisata .header-tiket,
.section-info-tiket .card-wisata .section-tiket-wisata .header-peta,
.section-info-tiket .card-wisata .section-peta .header-wisata,
.section-info-tiket .card-wisata .section-peta .header-about,
.section-info-tiket .card-wisata .section-peta .header-tiket,
.section-info-tiket .card-wisata .section-peta .header-peta {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata p,
.section-info-tiket .card-wisata .section-wisata .konten-about p,
.section-info-tiket .card-wisata .section-wisata .konten-tiket p,
.section-info-tiket .card-wisata .section-about .konten-wisata p,
.section-info-tiket .card-wisata .section-about .konten-about p,
.section-info-tiket .card-wisata .section-about .konten-tiket p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket p,
.section-info-tiket .card-wisata .section-peta .konten-wisata p,
.section-info-tiket .card-wisata .section-peta .konten-about p,
.section-info-tiket .card-wisata .section-peta .konten-tiket p {
  line-height: 191.5%;
  letter-spacing: 0.04em;
  color: #505050;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata p span,
.section-info-tiket .card-wisata .section-wisata .konten-about p span,
.section-info-tiket .card-wisata .section-wisata .konten-tiket p span,
.section-info-tiket .card-wisata .section-about .konten-wisata p span,
.section-info-tiket .card-wisata .section-about .konten-about p span,
.section-info-tiket .card-wisata .section-about .konten-tiket p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket p span,
.section-info-tiket .card-wisata .section-peta .konten-wisata p span,
.section-info-tiket .card-wisata .section-peta .konten-about p span,
.section-info-tiket .card-wisata .section-peta .konten-tiket p span {
  font-weight: 750;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-wisata .konten-about .social-media p,
.section-info-tiket .card-wisata .section-wisata .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-about .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-about .konten-about .social-media p,
.section-info-tiket .card-wisata .section-about .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-about .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-tiket .social-media p {
  display: inline-block;
  margin-right: 30px;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-wisata .konten-about .social-media img,
.section-info-tiket .card-wisata .section-wisata .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-about .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-about .konten-about .social-media img,
.section-info-tiket .card-wisata .section-about .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-about .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-tiket .social-media img {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

.section-info-tiket .card-wisata .section-tiket-wisata,
.section-info-tiket .card-wisata .section-about {
  padding-bottom: 18px;
}

.section-info-tiket .card-pilih-tiket {
  background: #F6F6F6;
  border: 1px solid #F4F4F4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 24px 27px 37px 27px;
}

.section-info-tiket .card-pilih-tiket .header-pilih-tiket {
  font-weight: bold;
  font-size: 23px;
  color: #000;
}

.section-info-tiket .card-pilih-tiket .nav-pills {
  padding-top: 14px;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item {
  width: 50%;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item a.nav-link {
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  color: #CD7BFF;
  border-radius: 0;
  text-align: center;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item a.nav-link.active {
  background-color: #EADCF2;
}

.section-info-tiket .card-pilih-tiket .card-tiket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #F2F2F2;
  margin-bottom: 16px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-header {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 400;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-body .card-text {
  display: inline-block;
  font-size: 14px;
}

.section-info-tiket .card-pilih-tiket .card-tiket a {
  color: #CD7BFF;
  font-size: 14px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer {
  border-top: 1px solid #EEEEEE;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr {
  width: 30%;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr input {
  border: 0;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr input[value] {
  color: #000;
  font-weight: bold;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah {
  width: 30%;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah input {
  text-align: center;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-1,
.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-2 {
  border: 1px solid #EADCF2;
  border-radius: 0px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-1 i,
.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-2 i {
  color: #2e0746;
}

.section-info-tiket .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.section-info-tiket .checkout .input-group {
  width: 50%;
  margin-right: 22px;
}

.section-info-tiket .checkout .input-group .input-group-prepend span {
  background-color: #E6E6E6;
  color: #000;
  font-weight: bold;
}

.section-info-tiket .checkout .input-group input {
  background-color: #E6E6E6;
  border-left: 0;
  height: 42px;
}

.section-info-tiket .checkout .input-group input[value] {
  color: #000;
  text-align: end;
  font-weight: bold;
}

.section-info-tiket .checkout .btn-checkout {
  background-color: #7014A9;
  color: #fff;
  font-weight: bold;
  padding: 8px 60px;
}

.section-footer {
  margin-top: -100px;
  padding-top: 207px;
  padding-bottom: 29px;
}

.section-footer h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
  color: #000;
}

.section-footer p {
  line-height: 191.5%;
}

.section-footer input {
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.section-footer input[placeholder] {
  color: #B4B4B4;
  font-size: 14px;
}

.section-footer .google-play {
  margin-top: 26px;
}

.section-footer .google-play img {
  width: 167px;
  height: 50px;
}

.section-footer ul li {
  line-height: 191.5%;
}

.section-footer ul li a {
  color: #000;
}

.section-footer .kolaborasi h5 {
  margin-bottom: 0px;
}

.section-footer .kolaborasi img {
  width: 224px;
  height: 67px;
}

.section-footer .metode-pembayaran h5 {
  margin-bottom: 0px;
}

.section-footer .metode-pembayaran img {
  width: 245px;
  height: 128px;
}

.section-footer-bottom {
  height: 80px;
}

.section-footer-bottom .row {
  margin: 0;
}

.section-footer-bottom .row p {
  margin: 0;
}

.section-footer-bottom .social-media a img {
  margin-right: 15px;
}

@media (max-width: 400px) {
  .section-header #navbar-utama .form-inline {
    display: none;
  }
  .section-header #navbar-second {
    border: none;
  }
  .section-header #navbar-second .collapse ul li {
    border-left: none;
  }
  .section-header .btn-login {
    width: 100%;
  }
  .section-header .btn-buat-tiket {
    position: static;
  }
}
/*# sourceMappingURL=main.css.map */