body {
   font-family: 'Lato', sans-serif;
   font-size: 14px;
}

// awal header
#header-web {
   /* position: relative; */
   position: fixed;
   background: #fff;
   box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .15);
   border-top: 1px solid #eee;
   top: 0;
   left: 0;
   right: 0;
   z-index: 3;
   padding-top: 10px;

   .navbar-brand {
      img {
         height: 61.37px;
         width: 200px;
      }
   }
}

#form-search {

   input {
      width: 100%;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .1);
      border: solid 1px #eee;
      border-radius: 3px;
      padding: 13px 10px 13px 40px;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      outline: none;
   }

   input[type='text']:focus,
   .clickdform textarea:focus,
   .clickdform select:focus {
      border: 2px solid #bc67f0 !important;
      background: none !important;
   }

   .input-icon {
      position: absolute;
      left: 5px;
      top: 0;
      bottom: 0;
      margin: auto 5px;
      z-index: 5;
   }

   .input-with-icon {
      position: relative;
      margin-top: 15px;
   }
}

.btn-user,
.btn-login {
   color: white;
   background-color: #7014A9;
   border-radius: 0;
   padding-top: 14px;
   padding-bottom: 14px;

   &:hover {
      color: white;
      background-color: #3d055f;
   }
}

#menu-utama {
   margin-top: 25px;
   border-top: 1px solid #eee;
   padding-top: 0;
   padding-bottom: 0;

   .nav-link {
      border-left: 1px solid #eee;
      padding: 13px 30px;
      transition: background-color .25s ease;

      &:hover {
         background-color: rgba(112, 20, 169, .15);
      }
   }

   .nav-item.vt {
      border-right: 1px solid #eee;
   }

   img.nav-icon {
      height: 23.842500686645508px;
      width: 23.999950408935547px;
      left: 0px;
      top: 0.07867431640625px;
      border-radius: 0px;
   }

   .nav-icon {
      margin-right: 10px;
   }

   .nav-link.btn-gmitra {
      color: white;
      background-color: #7014A9;
      border: 1px solid #7014A9;

      &:hover {
         color: white;
         background-color: #3d055f;
      }
   }
}

.badge-primary {
   color: #fff;
   background-color: #7014A9;
}

img,
svg {
   vertical-align: middle;
}

img {
   border-style: none;
}

// akhir header

// Awal utility
.card {
   padding: 32px;
   margin: 0;

   background: #FFFFFF;
   border: 1px solid rgba(175, 175, 175, 0.5);
   box-sizing: border-box;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
   border-radius: 5px;
}

//Akhir utility 

.section-gallery-info {
   padding-top: 215px;
   margin-top: -50px;

   .gallery-base {
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 3px;
   }

   .table-jadwal,
   .table-informasi {
      border-left: 1px solid #EEEEEE;
      margin-bottom: 0;

      th,
      td {
         padding: 5px 10px 5px 28px;
         color: #000000;
         font-size: 13px;
         font-weight: normal;
      }

      h6 {
         font-size: 16px;
         font-weight: bold;
         padding: 10px 0px 10px 0px;
      }

      .active {
         background-color: #EADCF2;
      }

      .badge-purple,
      .badge-purple-2 {
         background-color: #7014A9;
         color: #fff;
         font-size: 11px;
         border-radius: 3px;
      }

      .badge-purple-2 {
         background: #EA24BE;
      }

   }

   .section-alert {
      .alert-ungu {
         background-color: #EADCF2;
         color: #000;
         padding: 25px 20px 20px 20px;
      }

      i {
         color: #52449B;
         padding-right: 5px;
      }
   }
}

.section-info-tiket {
   padding-top: 67px;
   margin-top: -50px;

   .card-wisata {
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 19px 48px 16px 37px;

      .section-wisata,
      .section-about,
      .section-tiket-wisata,
      .section-peta {

         .header-wisata,
         .header-about,
         .header-tiket,
         .header-peta {
            font-weight: bold;
            font-size: 30px;
            color: #000;
         }

         .konten-wisata,
         .konten-about,
         .konten-tiket {
            p {
               line-height: 191.5%;
               letter-spacing: 0.04em;
               color: #505050;

               span {
                  font-weight: 750;
               }
            }

            .social-media {
               p {
                  display: inline-block;
                  margin-right: 30px;
               }

               img {
                  width: 23px;
                  height: 23px;
                  margin-right: 13px;
               }
            }
         }
      }

      .section-tiket-wisata,
      .section-about {
         padding-bottom: 18px;
      }
   }

   .card-pilih-tiket {
      background: #F6F6F6;
      border: 1px solid #F4F4F4;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 24px 27px 37px 27px;

      .header-pilih-tiket {
         font-weight: bold;
         font-size: 23px;
         color: #000;
      }

      .nav-pills {
         padding-top: 14px;

         .nav-item {
            width: 50%;

            a.nav-link {
               font-weight: bold;
               font-size: 18px;
               background-color: #fff;
               color: #CD7BFF;
               border-radius: 0;
               text-align: center;
            }

            a.nav-link.active {
               background-color: #EADCF2;
            }
         }
      }

      .card-tiket {
         box-sizing: border-box;
         border-radius: 3px;
         border: 1px solid #F2F2F2;
         margin-bottom: 16px;

         .card-header {
            font-size: 18px;
            color: #000;
            background-color: #fff;
            border-bottom: 1px solid #EEEEEE;
            font-weight: 400;
         }

         .card-body {

            .card-text {
               display: inline-block;
               font-size: 14px;
            }
         }


         a {
            color: #CD7BFF;
            font-size: 14px;
         }

         .card-footer {
            border-top: 1px solid #EEEEEE;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .input-idr {
               width: 30%;

               input {
                  border: 0;
               }

               input[value] {
                  color: #000;
                  font-weight: bold;
               }
            }

            .input-group.input-jumlah {
               width: 30%;

               input {
                  text-align: center;
               }

               .input-group-prepend {

                  .btn-jumlah-1,
                  .btn-jumlah-2 {
                     border: 1px solid #EADCF2;
                     border-radius: 0px;

                     i {
                        color: #2e0746;
                     }
                  }
               }
            }
         }
      }
   }

   .checkout {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 16px;

      .input-group {
         width: 50%;
         margin-right: 22px;

         .input-group-prepend {
            span {
               background-color: #E6E6E6;
               color: #000;
               font-weight: bold;
            }
         }

         input {
            background-color: #E6E6E6;
            border-left: 0;
            height: 42px;
         }

         input[value] {
            color: #000;
            text-align: end;
            font-weight: bold;
         }
      }

      .btn-checkout {
         background-color: #7014A9;
         color: #fff;
         font-weight: bold;
         padding: 8px 60px;
      }
   }

}

// Awal PROFILE
#ubah-profil {
   margin-top: 15%;

   margin-bottom: 50vh;

   #side-menu {

      .side-menu {
         padding: 30px;
      }

      .profil-user {
         img {
            width: 64px;
            height: 64px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
         }

         h5 {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
         }

         p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #AFAFAF;

         }
      }

      .profil-menu {
         ul {
            li {
               padding-top: 20px;
            }
         }

         a {
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            color: #595757;
         }

         img {
            width: 24px;
            height: 24px;

            margin-right: 30px;
            margin-left: 5px;
         }
      }
   }

   #main-menu {
      h5 {
         font-weight: bold;
         font-size: 16px;
         color: #F05E86;
      }

      form {
         img {
            width: 160px;
            height: 160px;
            display: block;
            margin: auto;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
         }
      }

      .btn-upload {
         background: #4E2E8A;
         border-radius: 5px;

         color: #FFFFFF;
         font-weight: 600;
         font-size: 16px;
      }

      .btn-simpan {
         background: #4E2E8A;
         border-radius: 5px;

         font-weight: 600;
         font-size: 16px;
         color: #fff;
      }

      .btn-batal {
         background: #F05E86;
         border-radius: 5px;

         font-weight: 600;
         font-size: 16px;
         color: #fff;
      }

      .info-daftar {
         font-size: 14px;
         color: rgba(0, 0, 0, 0.5);
      }

   }
}

// Awal FOOTER
.section-footer {
   margin-top: -100px;
   padding-top: 207px;
   padding-bottom: 29px;

   h5 {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 18px;
      color: #000;
   }

   p {
      line-height: 191.5%;
   }

   input {
      border: 1px solid #E0E0E0;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
   }

   input[placeholder] {
      color: #B4B4B4;
      font-size: 14px;
   }

   .google-play {
      margin-top: 26px;

      img {
         width: 167px;
         height: 50px;
      }
   }

   ul {
      li {
         line-height: 191.5%;

         a {
            color: #000;
         }
      }
   }

   .kolaborasi {
      h5 {
         margin-bottom: 0px;
      }

      img {
         width: 224px;
         height: 67px;
      }
   }

   .metode-pembayaran {
      h5 {
         margin-bottom: 0px;
      }

      img {
         width: 245px;
         height: 128px;
      }
   }
}

.section-footer-bottom {
   height: 80px;

   .row {
      margin: 0;

      p {
         margin: 0;
      }
   }

   .social-media {
      a {
         img {
            margin-right: 15px;
         }
      }
   }
}







// Mode Mobile
$breakpoint: 400px;

@media(max-width : $breakpoint) {

   .btn-login {
      width: 100%;
   }

   .btn-buat-tiket {
      position: static;
   }
}