body {
   font-family: 'Lato', sans-serif;
   font-size: 14px;
}


.section-header {
   nav {
      border-bottom: 1px solid #eeeeee;

      .container {
         width: 90%;
      }
   }

   #navbar-utama {
      padding: 20px 20px;

      .form-inline {
         width: 460px;


         input {
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            box-sizing: border-box;
            box-shadow: 0px 1px 4px 1px rgba($color: #000000, $alpha: 0.1);

            font-size: 14px;
            width: 100%;
            padding: 20px 20px;

         }
      }
   }


   #navbar-second {
      position: relative;
      box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.15);

      .navbar-nav {

         .nav-item {
            padding: 7px 7px;
         }

         a {
            font-weight: 700;
            color: #413F3F;
            font-size: 15px;
         }

         .badge-purple {
            background-color: #7014A9;
            color: #fff;
            margin-left: 5px;
         }

         img {
            width: 20px;
            height: 20px;
            margin-right: 6px;
         }

         .dropdown {
            .nav-link {
               color: #F05A86;
            }
         }

      }
   }

   img {
      width: 182px;
      height: 39px;
   }


   .btn-login {
      color: #CD7BFF;
      font-weight: 700;
      font-size: 16px;

      background-color: rgba(112, 20, 169, 0.15);
   }

   .btn-buat-tiket {
      background-color: #7014A9;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      border-radius: 0;

      position: absolute;
      left: 78%;
      right: 0;
      top: 0;
      bottom: 0;
   }
}


.section-gallery-info {
   padding-top: 90px;
   margin-top: -50px;

   .gallery-base {
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 3px;
   }

   .table-jadwal,
   .table-informasi {
      border-left: 1px solid #EEEEEE;
      margin-bottom: 0;

      th,
      td {
         padding: 5px 10px 5px 28px;
         color: #000000;
         font-size: 13px;
         font-weight: normal;
      }

      h6 {
         font-size: 16px;
         font-weight: bold;
         padding: 10px 0px 10px 0px;
      }

      .active {
         background-color: #EADCF2;
      }

      .badge-purple,
      .badge-purple-2 {
         background-color: #7014A9;
         color: #fff;
         font-size: 11px;
         border-radius: 3px;
      }

      .badge-purple-2 {
         background: #EA24BE;
      }

   }

   .section-alert {
      .alert-ungu {
         background-color: #EADCF2;
         color: #000;
         padding: 25px 20px 20px 20px;
      }

      i {
         color: #52449B;
         padding-right: 5px;
      }
   }
}

.section-info-tiket {
   padding-top: 67px;
   margin-top: -50px;

   .card-wisata {
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 19px 48px 16px 37px;

      .section-wisata,
      .section-about,
      .section-tiket-wisata,
      .section-peta {

         .header-wisata,
         .header-about,
         .header-tiket,
         .header-peta {
            font-weight: bold;
            font-size: 30px;
            color: #000;
         }

         .konten-wisata,
         .konten-about,
         .konten-tiket {
            p {
               line-height: 191.5%;
               letter-spacing: 0.04em;
               color: #505050;

               span {
                  font-weight: 750;
               }
            }

            .social-media {
               p {
                  display: inline-block;
                  margin-right: 30px;
               }

               img {
                  width: 23px;
                  height: 23px;
                  margin-right: 13px;
               }
            }
         }
      }

      .section-tiket-wisata,
      .section-about {
         padding-bottom: 18px;
      }
   }

   .card-pilih-tiket {
      background: #F6F6F6;
      border: 1px solid #F4F4F4;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 24px 27px 37px 27px;

      .header-pilih-tiket {
         font-weight: bold;
         font-size: 23px;
         color: #000;
      }

      .nav-pills {
         padding-top: 14px;

         .nav-item {
            width: 50%;

            a.nav-link {
               font-weight: bold;
               font-size: 18px;
               color: #CD7BFF;
               background-color: #EADCF2;
               border-radius: 0;
               text-align: center;
            }

            a.nav-link.active {
               background-color: #fff;
            }
         }
      }

      .card-tiket {
         box-sizing: border-box;
         border-radius: 3px;
         border: 1px solid #F2F2F2;
         margin-bottom: 16px;

         .card-header {
            font-size: 18px;
            color: #000;
            background-color: #fff;
            border-bottom: 1px solid #EEEEEE;
            font-weight: 400;
         }

         .card-body {

            .card-text {
               display: inline-block;
               font-size: 14px;
            }
         }


         a {
            color: #CD7BFF;
            font-size: 14px;
         }

         .card-footer {
            border-top: 1px solid #EEEEEE;
            background-color: #fff;
         }
      }
   }

}







// Mode Mobile
$breakpoint: 400px;

@media(max-width : $breakpoint) {
   .section-header {

      #navbar-utama {
         .form-inline {
            display: none;
         }
      }

      #navbar-second {
         border: none;

         .collapse {
            ul {
               li {
                  border-left: none;
               }
            }

         }

      }

      .btn-login {
         width: 100%;
      }

      .btn-buat-tiket {
         position: static;
      }
   }
}