body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

#header-web {
  /* position: relative; */
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.15);
  border-top: 1px solid #eee;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-top: 10px;
}

#header-web .navbar-brand img {
  height: 61.37px;
  width: 200px;
}

#form-search input {
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px #eee;
  border-radius: 3px;
  padding: 13px 10px 13px 40px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  outline: none;
}

#form-search input[type='text']:focus,
#form-search .clickdform textarea:focus,
#form-search .clickdform select:focus {
  border: 2px solid #bc67f0 !important;
  background: none !important;
}

#form-search .input-icon {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  z-index: 5;
}

#form-search .input-with-icon {
  position: relative;
  margin-top: 15px;
}

.btn-user,
.btn-login {
  color: white;
  background-color: #7014A9;
  border-radius: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}

.btn-user:hover,
.btn-login:hover {
  color: white;
  background-color: #3d055f;
}

#menu-utama {
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding-top: 0;
  padding-bottom: 0;
}

#menu-utama .nav-link {
  border-left: 1px solid #eee;
  padding: 13px 30px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

#menu-utama .nav-link:hover {
  background-color: rgba(112, 20, 169, 0.15);
}

#menu-utama .nav-item.vt {
  border-right: 1px solid #eee;
}

#menu-utama img.nav-icon {
  height: 23.842500686645508px;
  width: 23.999950408935547px;
  left: 0px;
  top: 0.07867431640625px;
  border-radius: 0px;
}

#menu-utama .nav-icon {
  margin-right: 10px;
}

#menu-utama .nav-link.btn-gmitra {
  color: white;
  background-color: #7014A9;
  border: 1px solid #7014A9;
}

#menu-utama .nav-link.btn-gmitra:hover {
  color: white;
  background-color: #3d055f;
}

.badge-primary {
  color: #fff;
  background-color: #7014A9;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

.card {
  padding: 32px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid rgba(175, 175, 175, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.section-gallery-info {
  padding-top: 215px;
  margin-top: -50px;
}

.section-gallery-info .gallery-base {
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.section-gallery-info .table-jadwal,
.section-gallery-info .table-informasi {
  border-left: 1px solid #EEEEEE;
  margin-bottom: 0;
}

.section-gallery-info .table-jadwal th,
.section-gallery-info .table-jadwal td,
.section-gallery-info .table-informasi th,
.section-gallery-info .table-informasi td {
  padding: 5px 10px 5px 28px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
}

.section-gallery-info .table-jadwal h6,
.section-gallery-info .table-informasi h6 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.section-gallery-info .table-jadwal .active,
.section-gallery-info .table-informasi .active {
  background-color: #EADCF2;
}

.section-gallery-info .table-jadwal .badge-purple,
.section-gallery-info .table-jadwal .badge-purple-2,
.section-gallery-info .table-informasi .badge-purple,
.section-gallery-info .table-informasi .badge-purple-2 {
  background-color: #7014A9;
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
}

.section-gallery-info .table-jadwal .badge-purple-2,
.section-gallery-info .table-informasi .badge-purple-2 {
  background: #EA24BE;
}

.section-gallery-info .section-alert .alert-ungu {
  background-color: #EADCF2;
  color: #000;
  padding: 25px 20px 20px 20px;
}

.section-gallery-info .section-alert i {
  color: #52449B;
  padding-right: 5px;
}

.section-info-tiket {
  padding-top: 67px;
  margin-top: -50px;
}

.section-info-tiket .card-wisata {
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 19px 48px 16px 37px;
}

.section-info-tiket .card-wisata .section-wisata .header-wisata,
.section-info-tiket .card-wisata .section-wisata .header-about,
.section-info-tiket .card-wisata .section-wisata .header-tiket,
.section-info-tiket .card-wisata .section-wisata .header-peta,
.section-info-tiket .card-wisata .section-about .header-wisata,
.section-info-tiket .card-wisata .section-about .header-about,
.section-info-tiket .card-wisata .section-about .header-tiket,
.section-info-tiket .card-wisata .section-about .header-peta,
.section-info-tiket .card-wisata .section-tiket-wisata .header-wisata,
.section-info-tiket .card-wisata .section-tiket-wisata .header-about,
.section-info-tiket .card-wisata .section-tiket-wisata .header-tiket,
.section-info-tiket .card-wisata .section-tiket-wisata .header-peta,
.section-info-tiket .card-wisata .section-peta .header-wisata,
.section-info-tiket .card-wisata .section-peta .header-about,
.section-info-tiket .card-wisata .section-peta .header-tiket,
.section-info-tiket .card-wisata .section-peta .header-peta {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata p,
.section-info-tiket .card-wisata .section-wisata .konten-about p,
.section-info-tiket .card-wisata .section-wisata .konten-tiket p,
.section-info-tiket .card-wisata .section-about .konten-wisata p,
.section-info-tiket .card-wisata .section-about .konten-about p,
.section-info-tiket .card-wisata .section-about .konten-tiket p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket p,
.section-info-tiket .card-wisata .section-peta .konten-wisata p,
.section-info-tiket .card-wisata .section-peta .konten-about p,
.section-info-tiket .card-wisata .section-peta .konten-tiket p {
  line-height: 191.5%;
  letter-spacing: 0.04em;
  color: #505050;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata p span,
.section-info-tiket .card-wisata .section-wisata .konten-about p span,
.section-info-tiket .card-wisata .section-wisata .konten-tiket p span,
.section-info-tiket .card-wisata .section-about .konten-wisata p span,
.section-info-tiket .card-wisata .section-about .konten-about p span,
.section-info-tiket .card-wisata .section-about .konten-tiket p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about p span,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket p span,
.section-info-tiket .card-wisata .section-peta .konten-wisata p span,
.section-info-tiket .card-wisata .section-peta .konten-about p span,
.section-info-tiket .card-wisata .section-peta .konten-tiket p span {
  font-weight: 750;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-wisata .konten-about .social-media p,
.section-info-tiket .card-wisata .section-wisata .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-about .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-about .konten-about .social-media p,
.section-info-tiket .card-wisata .section-about .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about .social-media p,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-wisata .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-about .social-media p,
.section-info-tiket .card-wisata .section-peta .konten-tiket .social-media p {
  display: inline-block;
  margin-right: 30px;
}

.section-info-tiket .card-wisata .section-wisata .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-wisata .konten-about .social-media img,
.section-info-tiket .card-wisata .section-wisata .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-about .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-about .konten-about .social-media img,
.section-info-tiket .card-wisata .section-about .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-about .social-media img,
.section-info-tiket .card-wisata .section-tiket-wisata .konten-tiket .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-wisata .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-about .social-media img,
.section-info-tiket .card-wisata .section-peta .konten-tiket .social-media img {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

.section-info-tiket .card-wisata .section-tiket-wisata,
.section-info-tiket .card-wisata .section-about {
  padding-bottom: 18px;
}

.section-info-tiket .card-pilih-tiket {
  background: #F6F6F6;
  border: 1px solid #F4F4F4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 24px 27px 37px 27px;
}

.section-info-tiket .card-pilih-tiket .header-pilih-tiket {
  font-weight: bold;
  font-size: 23px;
  color: #000;
}

.section-info-tiket .card-pilih-tiket .nav-pills {
  padding-top: 14px;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item {
  width: 50%;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item a.nav-link {
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  color: #CD7BFF;
  border-radius: 0;
  text-align: center;
}

.section-info-tiket .card-pilih-tiket .nav-pills .nav-item a.nav-link.active {
  background-color: #EADCF2;
}

.section-info-tiket .card-pilih-tiket .card-tiket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #F2F2F2;
  margin-bottom: 16px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-header {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 400;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-body .card-text {
  display: inline-block;
  font-size: 14px;
}

.section-info-tiket .card-pilih-tiket .card-tiket a {
  color: #CD7BFF;
  font-size: 14px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer {
  border-top: 1px solid #EEEEEE;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr {
  width: 30%;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr input {
  border: 0;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-idr input[value] {
  color: #000;
  font-weight: bold;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah {
  width: 30%;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah input {
  text-align: center;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-1,
.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-2 {
  border: 1px solid #EADCF2;
  border-radius: 0px;
}

.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-1 i,
.section-info-tiket .card-pilih-tiket .card-tiket .card-footer .input-group.input-jumlah .input-group-prepend .btn-jumlah-2 i {
  color: #2e0746;
}

.section-info-tiket .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.section-info-tiket .checkout .input-group {
  width: 50%;
  margin-right: 22px;
}

.section-info-tiket .checkout .input-group .input-group-prepend span {
  background-color: #E6E6E6;
  color: #000;
  font-weight: bold;
}

.section-info-tiket .checkout .input-group input {
  background-color: #E6E6E6;
  border-left: 0;
  height: 42px;
}

.section-info-tiket .checkout .input-group input[value] {
  color: #000;
  text-align: end;
  font-weight: bold;
}

.section-info-tiket .checkout .btn-checkout {
  background-color: #7014A9;
  color: #fff;
  font-weight: bold;
  padding: 8px 60px;
}

#ubah-profil {
  margin-top: 15%;
  margin-bottom: 50vh;
}

#ubah-profil #side-menu .side-menu {
  padding: 30px;
}

#ubah-profil #side-menu .profil-user img {
  width: 64px;
  height: 64px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ubah-profil #side-menu .profil-user h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

#ubah-profil #side-menu .profil-user p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AFAFAF;
}

#ubah-profil #side-menu .profil-menu ul li {
  padding-top: 20px;
}

#ubah-profil #side-menu .profil-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #595757;
}

#ubah-profil #side-menu .profil-menu img {
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-left: 5px;
}

#ubah-profil #main-menu h5 {
  font-weight: bold;
  font-size: 16px;
  color: #F05E86;
}

#ubah-profil #main-menu form img {
  width: 160px;
  height: 160px;
  display: block;
  margin: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ubah-profil #main-menu .btn-upload {
  background: #4E2E8A;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

#ubah-profil #main-menu .btn-simpan {
  background: #4E2E8A;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

#ubah-profil #main-menu .btn-batal {
  background: #F05E86;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

#ubah-profil #main-menu .info-daftar {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.section-footer {
  margin-top: -100px;
  padding-top: 207px;
  padding-bottom: 29px;
}

.section-footer h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
  color: #000;
}

.section-footer p {
  line-height: 191.5%;
}

.section-footer input {
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

.section-footer input[placeholder] {
  color: #B4B4B4;
  font-size: 14px;
}

.section-footer .google-play {
  margin-top: 26px;
}

.section-footer .google-play img {
  width: 167px;
  height: 50px;
}

.section-footer ul li {
  line-height: 191.5%;
}

.section-footer ul li a {
  color: #000;
}

.section-footer .kolaborasi h5 {
  margin-bottom: 0px;
}

.section-footer .kolaborasi img {
  width: 224px;
  height: 67px;
}

.section-footer .metode-pembayaran h5 {
  margin-bottom: 0px;
}

.section-footer .metode-pembayaran img {
  width: 245px;
  height: 128px;
}

.section-footer-bottom {
  height: 80px;
}

.section-footer-bottom .row {
  margin: 0;
}

.section-footer-bottom .row p {
  margin: 0;
}

.section-footer-bottom .social-media a img {
  margin-right: 15px;
}

@media (max-width: 400px) {
  .btn-login {
    width: 100%;
  }
  .btn-buat-tiket {
    position: static;
  }
}
/*# sourceMappingURL=main.css.map */